.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .homepage-hero {
    height: 800px;
    background: darkslategray url('https://s22.postimg.cc/8rwxmwkqp/lovepark.jpg') no-repeat center;
    background-size: cover;
  }

  .homepage-tagline {
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: rgba(34, 135, 209, .7);
    color: white;
    padding: 6rem;
  }
  .homepage-tagline h1 {
    font-size: 5em;
    font-weight: 300;
    top: 50%;
    transform: translateY(-50%);
  }

  .chevron {
    font-size: 6rem;
    color: #D9B310;
    bottom: 40px;
    left: 50%;
    transform: translatex(-50%);
  }

  main h1 {
    color: white;
    border-bottom: 6px solid #D9B310;
    display: inline-block;
    margin-bottom: 60px;
  }

  /* Artwork Page Styles */
  .like-icon {
    right: 20px;
    top: 20px;
    z-index: 4;
    color: white;
    font-size: 2rem;
}
.artwork-page-container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.artwork-page-container h1 {
  max-width: 400px;
}
.art-container {
  max-width: 600px;
  margin: 0 auto 60px auto;
  box-shadow: 10px 10px 0px 0px rgba(34,135,209,1);
}

/* Search Page Styles */
.search-page-container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.map-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-form .form-group {
  margin: 0;
  width: 100%;
  position: relative;
}

.navbar-form .form-control {
  width: 100%;
  margin-left: 0;
}
.submit-btn {
  position: absolute;
  right: 15px;
  top: 8px;
}
.info-box {
  position: absolute;
  background: rgba(34, 135, 209, .8);
  padding: 10px 40px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}
.info-box a {
  color: rgb(38, 49, 59);
  border-bottom: 6px solid rgb(38, 49, 59);
}
.info-box a:hover {
  text-decoration: none;
  border-bottom: 6px solid #D9B310;
}