.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #1D2731;
    border-top: 6px solid rgb(61, 56, 35);
    color: rgb(87, 100, 112);
    text-align: center;
}