/* Positioning */

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.art-title {
    background-color: rgba(29, 39, 49, .7);
    color: #FFF;
    padding: 10px;
    bottom: 10px;
    left: 0;
    margin-right: 20%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-bottom: 6px solid rgb(29, 39, 49);
}

/* This should really be anytime user hovers over artwork panel - could do this easily with nesting in sass */
.art-title:hover {
    border-bottom: 6px solid #D9B310;
}

/* Masonry layout */
.photo-container {
    column-count: 3;
    column-gap: 2;
    padding-bottom: 20px;
  }
  .photo-panel {
    break-inside: avoid;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); */
    box-shadow: 10px 10px 0px 0px rgba(34,135,209,1);
    opacity: .8;
    transition-timing-function: ease-in-out;
    transition: 0.35s;
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .photo-panel:not(:first-of-type) {
    margin-top: 10px;
  }
  .photo-panel:hover {
    cursor: pointer;
    opacity: 1;
    /* -webkit-transform: scale(.98);
    -ms-transform: scale(.98);
    transform: scale(.98); */
  }
  .photo-content {
    border-radius: 10px;
    max-width: 600px;
  }
  img {
      width: 100%;
  }

  @media only screen  and (max-width: 720px) {
    .photo-container {
        column-count: 2;
      }

      .art-title {
          font-size: 1em;
      }
  }

  @media only screen  and (min-width: 1080px) {
      .art-title {
          font-size: 2em;
      }
  }